.navbar-brand,.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.nav-item,.gilroy{
    font-family: 'Gilroy', sans-serif;
}

#ellipse{
    height:100px;
    width:200px;
    border-radius: 90px 90px 0 0;
    border: 1px solid rgba(73, 173, 9, 1);
    transform: rotate(-40.1deg);
    position: absolute;
    top: -65px;
    right: -100px;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/gilroy_font/Gilroy-Medium.ttf') format('truetype');
}

.base_image{
    background-image: url('/images/backgroundBase.png');
    width: 100%;
    padding-top: 5%;
    padding-bottom: 3%;
}

#design1{
    position: absolute;
    object-fit: none;
    top: -100px;
    left: -25px;
}

#design2{
    position: absolute;
    object-fit: none;
    right: -40px;
    top: 300px;
}